body{
    background-color: rgb(220, 235, 245);
    overflow-y: auto;
}
body, html {
  margin: 0;
  padding: 0;
}
.header{
    background-color: rgba(255, 255, 255, 0.80);
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.4fr 2fr;
    grid-template-rows: 75px;
    position: sticky;
    top:0px; 
    z-index: 1000;
    margin-bottom: 0;
    padding-bottom: 0;
}
#headerImg{
    width: 80px;
    height: 80px;
    padding: 0px 0px;
    margin: 0 auto;
}
#headerTitle{
    font-size: 45px;
    display: inline;
    display: flex;
    justify-content: left;
    align-items: center;
}
#headerKM{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: right;
    align-items: center;
    letter-spacing: -1px;
    word-spacing: -2px;
}
#headerCM{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -1px;
    word-spacing: -2px;
}
#headerYM{
    font-weight: bold;
    font-size: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    letter-spacing: -1px;
    word-spacing: -2px;
}
#headerBA{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: right;
    align-items: center;
    letter-spacing: -1px;
    word-spacing: -2px;
    background-color: rgb(0, 140, 254);
    text-align: center;
    color: white;
    border-radius: 2px;
    right: 0%;
}
#headerBA:hover{
    cursor: pointer;
    color: rgb(89, 88, 88);
    background-color: rgb(253, 176, 33);
}
#headerYM:hover{
    cursor: pointer;
    color: rgb(0, 140, 254);
    text-decoration: underline;
    text-underline-offset: 5px;
}
#headerKM:hover{
    cursor: pointer;
    color: rgb(0, 140, 254);
    text-decoration: underline;
    text-underline-offset: 5px;
}
#headerCM:hover{
    cursor: pointer;
    color: rgb(0, 140, 254);
    text-decoration: underline;
    text-underline-offset: 5px;
}
.landingImg{
    margin-top: -75px;
    padding-top: 0;
}
.landingImg img {
    width: 1515px;
    height: 800px;
    display: block;
    top: 0%;
}
#landingJN{
    z-index: 2;
    font-size: 60px;
    background-color: rgb(0, 140, 255);
    color: white;
    position:absolute;
    top: 45%;
    left: 7%;
    padding: 0px 15px;
    box-sizing: border-box;
    border-radius: 5px;
}
#landingJN:hover{
    cursor: pointer;
    color: rgb(77, 77, 77);
    background-color: rgb(253, 179, 43);
}
.elaborate{
    display: grid;
    grid-template-columns: 700px 700px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 80px 50px;
    padding: 70px;
    color: rgb(70, 70, 70);
}
#ElaImag{
    width: 700px;
    height: 450px;
}
#ElaTxt h2{
    font-size: 40px;
    font-family: 'sans-serif';
    font-weight: 500;
}
#ElaTxt p{
    font-size: 25px;
    font-weight:lighter;
}
#ElaTxt a{
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: rgb(0, 140, 255);
    text-underline-offset: 5px;
}
#ElaTxt a:hover{
    cursor: pointer;
    color: rgb(0, 140, 255);
}
.moreInfo{
    background-color: rgb(188, 188, 188);
    display: grid;
    grid-template-columns: 0.6fr 1fr 7fr;
    grid-template-rows: 60px;
    padding-left: 60px;
    bottom: 0px;
}
#moreInfo{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 45px;
    column-gap: 300px;
}
.moreInfo img{
    width: 80px;
    height: 80px;
    padding: 0px 0px;
    margin: 0 auto;
    display: flex;
}
.moreInfo h1{
    font-size: 45px;
    display: inline;
    display: flex;
    justify-content: left;
    align-items:center;
}
.moreInfo ul{
    font-size: 25px;
}
.moreInfo ul:hover{
    color: rgb(0, 140, 255);
    text-decoration: underline;
    cursor: pointer;
}
.copyright{
    top: 0px;
    height: 50px;
    background-color: rgb(0, 140, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: azure;
}
ul li::marker {
  color: rgb(39, 138, 220); 
  font-size: 1.5em;     
  font-weight: bold;
}


/* who we are page */
.WWRimg img{
    margin-top: -75px;
    padding-top: 0;
}